#include <winver.h>

1 ICON "realjapan.ico"
1 24 "realjapan.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,7,0,0
 PRODUCTVERSION 0,7,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "PROJECT: REAL JAPAN\0"
      VALUE "FileDescription", "PROJECT: REAL JAPAN (Shibuya Vertical Slice)\0"
      VALUE "FileVersion", "0.7.0\0"
      VALUE "InternalName", "RealJapan\0"
      VALUE "LegalCopyright", "Map data: MLIT Project PLATEAU, GSI Japan (see LICENSES)\0"
      VALUE "OriginalFilename", "RealJapan.exe\0"
      VALUE "ProductName", "PROJECT: REAL JAPAN\0"
      VALUE "ProductVersion", "0.7.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
